[data-v-d3be3ce4]:root {
    --basic-black: #202020;
    --basic-white: #fff;
    --neutral-100: #eaeaea;
    --neutral-200: #d0d0d0;
    --neutral-300: #818080;
    --neutral-400: #4c4949;
    --neutral-500: #343434;
    --neutral-600: #2e2e2e;
    --accent-primary: linear-gradient(180deg,#ffce7e,#997c4b);
    --accent-secondary: #46361c;
    --accent-tertiary: #635e50;
    --accent-quaternary: #786f61;
    --gradient-primary: linear-gradient(180deg,#202020,#343434 80%);
    --gradient-secondary: linear-gradient(180deg,#3a3838,#202020);
    --gradient-quaternary: linear-gradient(270deg,rgba(0,0,0,.6),transparent 50%,rgba(0,0,0,.6));
    --white: #fff;
    --red: #e73737;
    --vh: 100vh;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #ced4da;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --status-success: #28a745;
    --status-danger: #dc3545;
    --status-warning: #ffc107;
    --status-info: #3e3e3e
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NeueHalvetica55Roman.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NeueHalvetica55Medium.woff2) format("woff2")
}

.cons-diff-mob__item[data-v-d3be3ce4] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-height: 100svh;
    padding: 24px;
    position: relative;
    text-align: center
}

.cons-diff-mob__item-bg[data-v-d3be3ce4] {
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1
}

.cons-diff-mob__bg[data-v-d3be3ce4] {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.cons-diff-mob__item-title[data-v-d3be3ce4] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 4.7222222222vw;
    font-weight: 500;
    line-height: 1em;
    margin-top: 32px;
    text-transform: uppercase
}

@media (max-width: 860px) {
    .cons-diff-mob__item-title[data-v-d3be3ce4] {
        font-size:calc(24.73239px + 3.00469vw)
    }
}

@media (max-width: 460px) {
    .cons-diff-mob__item-title[data-v-d3be3ce4] {
        font-size:36px
    }
}

.cons-diff-mob__item-text[data-v-d3be3ce4] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 1.22em;
    margin-top: 20px
}

@media (max-width: 860px) {
    .cons-diff-mob__item-text[data-v-d3be3ce4] {
        font-size:calc(15.29577px + .18779vw)
    }
}

@media (max-width: 460px) {
    .cons-diff-mob__item-text[data-v-d3be3ce4] {
        font-size:16px
    }
}

.cons-diff-mob__img[data-v-d3be3ce4] {
    aspect-ratio: 1;
    max-width: 460px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

[data-v-12ead964]:root {
    --basic-black: #202020;
    --basic-white: #fff;
    --neutral-100: #eaeaea;
    --neutral-200: #d0d0d0;
    --neutral-300: #818080;
    --neutral-400: #4c4949;
    --neutral-500: #343434;
    --neutral-600: #2e2e2e;
    --accent-primary: linear-gradient(180deg,#ffce7e,#997c4b);
    --accent-secondary: #46361c;
    --accent-tertiary: #635e50;
    --accent-quaternary: #786f61;
    --gradient-primary: linear-gradient(180deg,#202020,#343434 80%);
    --gradient-secondary: linear-gradient(180deg,#3a3838,#202020);
    --gradient-quaternary: linear-gradient(270deg,rgba(0,0,0,.6),transparent 50%,rgba(0,0,0,.6));
    --white: #fff;
    --red: #e73737;
    --vh: 100vh;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #ced4da;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --status-success: #28a745;
    --status-danger: #dc3545;
    --status-warning: #ffc107;
    --status-info: #3e3e3e
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NeueHalvetica55Roman.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NeueHalvetica55Medium.woff2) format("woff2")
}

.cons-diff__slider[data-v-12ead964] {
    height: 100svh;
    position: relative;
    width: 100%
}

.cons-diff__bgs[data-v-12ead964] {
    z-index: 1
}

.cons-diff__bg-wrapper[data-v-12ead964],.cons-diff__bgs[data-v-12ead964] {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%
}

.cons-diff__bg-wrapper[data-v-12ead964] {
    clip-path: inset(0 0 0 100%)
}

.cons-diff__bg-wrapper.active[data-v-12ead964] {
    z-index: 2
}

.cons-diff__bg-wrapper.prev[data-v-12ead964] {
    z-index: 1
}

.cons-diff__bg-wrapper[data-v-12ead964]:first-child {
    clip-path: inset(0 0 0 0)
}

.cons-diff__bg[data-v-12ead964] {
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.cons-diff__content[data-v-12ead964] {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    width: 54.4444444444vw;
    z-index: 2
}

@media (max-width: 860px) {
    .cons-diff__content[data-v-12ead964] {
        width:80%
    }
}

@media (max-width: 800px) {
    .cons-diff__content[data-v-12ead964] {
        align-items:center;
        flex-direction: column-reverse;
        gap: 32px;
        height: 75%;
        justify-content: center;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%)
    }
}

.cons-diff__texts[data-v-12ead964] {
    flex-shrink: 0;
    width: 22.5vw
}

@media (max-width: 800px) {
    .cons-diff__texts[data-v-12ead964] {
        width:100%
    }
}

.cons-diff__items[data-v-12ead964] {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative
}

.cons-diff__item[data-v-12ead964] {
    display: flex;
    flex-direction: column;
    gap: 2.2222222222vw;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    top: 0
}

@media (max-width: 800px) {
    .cons-diff__item[data-v-12ead964] {
        text-align:center
    }
}

.cons-diff__t[data-v-12ead964] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 2.7777777778vw;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase
}

@media (max-width: 860px) {
    .cons-diff__t[data-v-12ead964] {
        font-size:calc(18.3662px + 1.50235vw)
    }
}

@media (max-width: 460px) {
    .cons-diff__t[data-v-12ead964] {
        font-size:24px
    }
}

@media (min-width: 860px) {
    .cons-diff__t[data-v-12ead964] {
        text-align:left
    }
}

@media (max-width: 860px) {
    .cons-diff__t[data-v-12ead964] {
        font-size:calc(34.59155px + .37559vw)
    }
}

@media (max-width: 460px) {
    .cons-diff__t[data-v-12ead964] {
        font-size:36px
    }
}

.cons-diff__text[data-v-12ead964] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 1.22em
}

@media (max-width: 860px) {
    .cons-diff__text[data-v-12ead964] {
        font-size:calc(15.29577px + .18779vw)
    }
}

@media (max-width: 460px) {
    .cons-diff__text[data-v-12ead964] {
        font-size:16px
    }
}

.cons-diff__assets[data-v-12ead964] {
    flex-shrink: 0;
    height: 22.6388888889vw;
    overflow: hidden;
    position: relative;
    width: 22.6388888889vw;
    z-index: 1
}

@media (max-width: 800px) {
    .cons-diff__assets[data-v-12ead964] {
        aspect-ratio:1;
        height: 50%;
        width: auto
    }
}

.cons-diff__img-wrapper[data-v-12ead964] {
    height: 100%;
    position: absolute;
    width: 100%
}

.cons-diff__img-wrapper.active[data-v-12ead964] {
    z-index: 2
}

.cons-diff__img-wrapper.prev[data-v-12ead964] {
    z-index: 1
}

@media (max-width: 800px) {
    .cons-diff__img-wrapper[data-v-12ead964] {
        aspect-ratio:1;
        height: 100%;
        width: 100%
    }
}

.cons-diff__img[data-v-12ead964] {
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

[data-v-f55c96aa]:root {
    --basic-black: #202020;
    --basic-white: #fff;
    --neutral-100: #eaeaea;
    --neutral-200: #d0d0d0;
    --neutral-300: #818080;
    --neutral-400: #4c4949;
    --neutral-500: #343434;
    --neutral-600: #2e2e2e;
    --accent-primary: linear-gradient(180deg,#ffce7e,#997c4b);
    --accent-secondary: #46361c;
    --accent-tertiary: #635e50;
    --accent-quaternary: #786f61;
    --gradient-primary: linear-gradient(180deg,#202020,#343434 80%);
    --gradient-secondary: linear-gradient(180deg,#3a3838,#202020);
    --gradient-quaternary: linear-gradient(270deg,rgba(0,0,0,.6),transparent 50%,rgba(0,0,0,.6));
    --white: #fff;
    --red: #e73737;
    --vh: 100vh;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #ced4da;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --status-success: #28a745;
    --status-danger: #dc3545;
    --status-warning: #ffc107;
    --status-info: #3e3e3e
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NeueHalvetica55Roman.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NeueHalvetica55Medium.woff2) format("woff2")
}

.cons-diff__title-wrapper[data-v-f55c96aa] {
    align-items: center;
    background-color: var(--neutral-600);
    color: var(--neutral-200);
    display: flex;
    justify-content: center;
    padding-bottom: 7.6388888889vw;
    padding-top: 7.6388888889vw
}

@media (max-width: 860px) {
    .cons-diff__title-wrapper[data-v-f55c96aa] {
        padding-bottom:48px;
        padding-top: 48px
    }
}

.cons-diff__title[data-v-f55c96aa] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 4.7222222222vw;
    font-weight: 500;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase
}

@media (max-width: 860px) {
    .cons-diff__title[data-v-f55c96aa] {
        font-size:calc(24.73239px + 3.00469vw)
    }
}

@media (max-width: 460px) {
    .cons-diff__title[data-v-f55c96aa] {
        font-size:36px
    }
}

@media (min-width: 860px) {
    .cons-diff__title[data-v-f55c96aa] {
        max-width:61.1111111111vw
    }
}

[data-v-56a7997c]:root {
    --basic-black: #202020;
    --basic-white: #fff;
    --neutral-100: #eaeaea;
    --neutral-200: #d0d0d0;
    --neutral-300: #818080;
    --neutral-400: #4c4949;
    --neutral-500: #343434;
    --neutral-600: #2e2e2e;
    --accent-primary: linear-gradient(180deg,#ffce7e,#997c4b);
    --accent-secondary: #46361c;
    --accent-tertiary: #635e50;
    --accent-quaternary: #786f61;
    --gradient-primary: linear-gradient(180deg,#202020,#343434 80%);
    --gradient-secondary: linear-gradient(180deg,#3a3838,#202020);
    --gradient-quaternary: linear-gradient(270deg,rgba(0,0,0,.6),transparent 50%,rgba(0,0,0,.6));
    --white: #fff;
    --red: #e73737;
    --vh: 100vh;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #ced4da;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --status-success: #28a745;
    --status-danger: #dc3545;
    --status-warning: #ffc107;
    --status-info: #3e3e3e
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NeueHalvetica55Roman.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NeueHalvetica55Medium.woff2) format("woff2")
}

.cons-expertise[data-v-56a7997c] {
    background-color: var(--neutral-100);
    color: var(--basic-black);
    padding-bottom: 13.8888888889vw;
    padding-top: 6.9444444444vw
}

@media (max-width: 860px) {
    .cons-expertise[data-v-56a7997c] {
        padding-bottom:60px;
        padding-top: 60px
    }
}

.cons-expertise__top[data-v-56a7997c] {
    display: flex
}

@media (min-width: 860px) {
    .cons-expertise__top[data-v-56a7997c] {
        align-items:flex-end;
        gap: 12.8472222222vw;
        justify-content: space-between;
        margin-left: auto;
        max-width: 70.4861111111vw
    }
}

@media (max-width: 860px) {
    .cons-expertise__top[data-v-56a7997c] {
        flex-direction:column
    }
}

.cons-expertise__title[data-v-56a7997c] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 4.7222222222vw;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase
}

@media (max-width: 860px) {
    .cons-expertise__title[data-v-56a7997c] {
        font-size:calc(35.5493px + 2.25352vw)
    }
}

@media (max-width: 460px) {
    .cons-expertise__title[data-v-56a7997c] {
        font-size:44px
    }
}

.cons-expertise__description[data-v-56a7997c] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 1.22em;
    margin-top: 2.2222222222vw;
    max-width: 22.4305555556vw
}

@media (max-width: 860px) {
    .cons-expertise__description[data-v-56a7997c] {
        font-size:calc(15.29577px + .18779vw)
    }
}

@media (max-width: 460px) {
    .cons-expertise__description[data-v-56a7997c] {
        font-size:16px
    }
}

@media (max-width: 860px) {
    .cons-expertise__description[data-v-56a7997c] {
        margin-top:24px;
        max-width: 70%
    }
}

.cons-expertise__btn[data-v-56a7997c] {
    margin-top: 4.1666666667vw
}

@media (max-width: 860px) {
    .cons-expertise__btn[data-v-56a7997c] {
        margin-top:48px
    }
}

.cons-expertise__img[data-v-56a7997c] {
    -o-object-fit: cover;
    object-fit: cover
}

@media (min-width: 860px) {
    .cons-expertise__img[data-v-56a7997c] {
        height:22.5vw;
        width: 22.5vw
    }
}

@media (max-width: 860px) {
    .cons-expertise__img[data-v-56a7997c] {
        height:auto;
        margin-top: 60px;
        max-width: 70%;
        width: 100%
    }
}

.cons-expertise__bottom[data-v-56a7997c] {
    margin-top: 13.8888888889vw
}

@media (max-width: 860px) {
    .cons-expertise__bottom[data-v-56a7997c] {
        margin-top:60px
    }
}

.cons-expertise__bottom-content[data-v-56a7997c] {
    display: flex
}

@media (min-width: 860px) {
    .cons-expertise__bottom-content[data-v-56a7997c] {
        -moz-column-gap:12.9861111111vw;
        column-gap: 12.9861111111vw
    }
}

@media (max-width: 860px) {
    .cons-expertise__bottom-content[data-v-56a7997c] {
        flex-direction:column
    }
}

.cons-expertise__subtitle[data-v-56a7997c] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.3888888889vw;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase
}

@media (min-width: 860px) {
    .cons-expertise__subtitle[data-v-56a7997c] {
        flex:1 0 auto;
        max-width: 10.9722222222vw
    }
}

@media (max-width: 860px) {
    .cons-expertise__subtitle[data-v-56a7997c] {
        font-size:calc(11.88732px + .56338vw);
        line-height: 1.3em;
        max-width: 111px
    }
}

@media (max-width: 460px) {
    .cons-expertise__subtitle[data-v-56a7997c] {
        font-size:14px
    }
}

@media (min-width: 860px) {
    .cons-expertise__list[data-v-56a7997c] {
        align-items:center;
        -moz-column-gap: 9.375vw;
        column-gap: 9.375vw;
        display: flex;
        flex-wrap: wrap;
        row-gap: 6.9444444444vw
    }
}

@media (max-width: 860px) {
    .cons-expertise__list[data-v-56a7997c] {
        -moz-column-gap:30px;
        column-gap: 30px;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(2,1fr);
        margin-top: 60px;
        row-gap: 60px;
        width: 100%
    }
}

@media (max-width: 560px) {
    .cons-expertise__list[data-v-56a7997c] {
        grid-template-columns:repeat(1,1fr)
    }
}

.cons-expertise__item[data-v-56a7997c] {
    max-width: 22.5694444444vw;
    position: relative;
    width: 100%
}

@media (min-width: 860px) {
    .cons-expertise__item[data-v-56a7997c]:nth-child(2) {
        max-width:30.4861111111vw
    }

    .cons-expertise__item:nth-child(2) .cons-expertise__number-text[data-v-56a7997c] {
        max-width: 70%
    }

    .cons-expertise__item[data-v-56a7997c]:nth-child(4) {
        max-width: 30.4861111111vw
    }

    .cons-expertise__item:nth-child(4) .cons-expertise__number-text[data-v-56a7997c] {
        max-width: 70%
    }
}

@media (max-width: 860px) {
    .cons-expertise__item[data-v-56a7997c] {
        max-width:100%
    }
}

.cons-expertise__number-title[data-v-56a7997c] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 4.1666666667vw;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase
}

@media (max-width: 860px) {
    .cons-expertise__number-title[data-v-56a7997c] {
        font-size:calc(22.14085px + 2.62911vw)
    }
}

@media (max-width: 460px) {
    .cons-expertise__number-title[data-v-56a7997c] {
        font-size:32px
    }
}

@media (max-width: 860px) {
    .cons-expertise__number-title[data-v-56a7997c] {
        font-family:HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
        font-size: 4.7222222222vw;
        font-weight: 500;
        line-height: 1em
    }
}

@media (max-width: 860px) and (max-width:860px) {
    .cons-expertise__number-title[data-v-56a7997c] {
        font-size:calc(24.73239px + 3.00469vw)
    }
}

@media (max-width: 860px) and (max-width:460px) {
    .cons-expertise__number-title[data-v-56a7997c] {
        font-size:36px
    }
}

.cons-expertise__number-text[data-v-56a7997c] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.3888888889vw;
    font-weight: 500;
    line-height: 1em;
    margin-top: .4166666667vw;
    text-transform: lowercase
}

@media (max-width: 860px) {
    .cons-expertise__number-text[data-v-56a7997c] {
        font-size:20px
    }
}

@media (max-width: 460px) {
    .cons-expertise__number-text[data-v-56a7997c] {
        font-size:20px
    }
}

@media (max-width: 860px) {
    .cons-expertise__number-text[data-v-56a7997c] {
        margin-top:4px
    }
}

.cons-expertise__plus[data-v-56a7997c] {
    height: 1.25vw;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.25vw
}

@media (max-width: 860px) {
    .cons-expertise__plus[data-v-56a7997c] {
        height:18px;
        width: 18px
    }
}

.cons-expertise__plus svg[data-v-56a7997c] {
    display: block;
    height: 100%;
    width: 100%
}

[data-v-02cb5fe0]:root {
    --basic-black: #202020;
    --basic-white: #fff;
    --neutral-100: #eaeaea;
    --neutral-200: #d0d0d0;
    --neutral-300: #818080;
    --neutral-400: #4c4949;
    --neutral-500: #343434;
    --neutral-600: #2e2e2e;
    --accent-primary: linear-gradient(180deg,#ffce7e,#997c4b);
    --accent-secondary: #46361c;
    --accent-tertiary: #635e50;
    --accent-quaternary: #786f61;
    --gradient-primary: linear-gradient(180deg,#202020,#343434 80%);
    --gradient-secondary: linear-gradient(180deg,#3a3838,#202020);
    --gradient-quaternary: linear-gradient(270deg,rgba(0,0,0,.6),transparent 50%,rgba(0,0,0,.6));
    --white: #fff;
    --red: #e73737;
    --vh: 100vh;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #ced4da;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --status-success: #28a745;
    --status-danger: #dc3545;
    --status-warning: #ffc107;
    --status-info: #3e3e3e
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NeueHalvetica55Roman.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NeueHalvetica55Medium.woff2) format("woff2")
}

.cons-experts[data-v-02cb5fe0] {
    background-color: var(--neutral-100);
    color: var(--basic-black);
    padding-bottom: 13.8888888889vw;
    padding-top: 2.7777777778vw
}

@media (max-width: 860px) {
    .cons-experts[data-v-02cb5fe0] {
        padding-bottom:60px;
        padding-top: 24px
    }
}

.cons-experts__title[data-v-02cb5fe0] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 4.1666666667vw;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase
}

@media (min-width: 860px) {
    .cons-experts__title[data-v-02cb5fe0] {
        margin-left:auto;
        margin-right: 23.9583333333vw;
        max-width: 47.2222222222vw
    }
}

@media (max-width: 860px) {
    .cons-experts__title[data-v-02cb5fe0] {
        font-size:calc(27.5493px + 2.25352vw)
    }
}

@media (max-width: 460px) {
    .cons-experts__title[data-v-02cb5fe0] {
        font-size:36px
    }
}

.cons-experts__content[data-v-02cb5fe0] {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-top: 13.8888888889vw
}

@media (max-width: 860px) {
    .cons-experts__content[data-v-02cb5fe0] {
        flex-direction:column;
        margin-top: 88px
    }
}

.cons-experts__subtitle[data-v-02cb5fe0] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.3888888889vw;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase
}

@media (min-width: 860px) {
    .cons-experts__subtitle[data-v-02cb5fe0] {
        flex:1 0 auto;
        max-width: 6.25vw
    }
}

@media (max-width: 860px) {
    .cons-experts__subtitle[data-v-02cb5fe0] {
        font-size:calc(11.88732px + .56338vw)
    }
}

@media (max-width: 460px) {
    .cons-experts__subtitle[data-v-02cb5fe0] {
        font-size:14px
    }
}

.cons-experts__list[data-v-02cb5fe0] {
    width: 100%
}

@media (min-width: 860px) {
    .cons-experts__list[data-v-02cb5fe0] {
        -moz-column-gap:1.3888888889vw;
        column-gap: 1.3888888889vw;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(3,1fr);
        max-width: 70.4861111111vw;
        row-gap: 6.9444444444vw
    }
}

@media (max-width: 860px) {
    .cons-experts__list[data-v-02cb5fe0] {
        display:flex;
        flex-direction: column;
        margin-top: 24px;
        row-gap: 48px
    }
}

.cons-experts__item[data-v-02cb5fe0] {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.cons-experts__img[data-v-02cb5fe0] {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

@media (min-width: 860px) {
    .cons-experts__img[data-v-02cb5fe0] {
        height:22.5694444444vw
    }
}

@media (max-width: 860px) {
    .cons-experts__img[data-v-02cb5fe0] {
        aspect-ratio:1;
        height: auto
    }
}

.cons-experts__info[data-v-02cb5fe0] {
    margin-top: 1.6666666667vw
}

@media (max-width: 860px) {
    .cons-experts__info[data-v-02cb5fe0] {
        margin-top:24px
    }
}

.cons-experts__name[data-v-02cb5fe0] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.6666666667vw;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase
}

@media (max-width: 860px) {
    .cons-experts__name[data-v-02cb5fe0] {
        font-size:24px;
        line-height: 1.17em
    }
}

.cons-experts__position[data-v-02cb5fe0] {
    color: var(--neutral-300);
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.1111111111vw;
    font-weight: 500;
    line-height: 1.25em!important;
    line-height: 1em;
    margin-top: .2777777778vw;
    text-transform: uppercase
}

@media (max-width: 860px) {
    .cons-experts__position[data-v-02cb5fe0] {
        font-size:calc(13.29577px + .18779vw)
    }
}

@media (max-width: 460px) {
    .cons-experts__position[data-v-02cb5fe0] {
        font-size:14px
    }
}

@media (max-width: 860px) {
    .cons-experts__position[data-v-02cb5fe0] {
        margin-top:4px
    }
}

.cons-experts__links[data-v-02cb5fe0] {
    align-items: center;
    -moz-column-gap: 1.3888888889vw;
    column-gap: 1.3888888889vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.6666666667vw
}

@media (max-width: 860px) {
    .cons-experts__links[data-v-02cb5fe0] {
        -moz-column-gap:20px;
        column-gap: 20px;
        margin-top: 16px
    }
}

.ab-team__link[data-v-02cb5fe0] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.1111111111vw;
    font-weight: 500;
    line-height: 1em;
    position: relative;
    text-transform: uppercase
}

@media (max-width: 860px) {
    .ab-team__link[data-v-02cb5fe0] {
        font-size:calc(13.29577px + .18779vw)
    }
}

@media (max-width: 460px) {
    .ab-team__link[data-v-02cb5fe0] {
        font-size:14px
    }
}

[data-v-8a096bc2]:root {
    --basic-black: #202020;
    --basic-white: #fff;
    --neutral-100: #eaeaea;
    --neutral-200: #d0d0d0;
    --neutral-300: #818080;
    --neutral-400: #4c4949;
    --neutral-500: #343434;
    --neutral-600: #2e2e2e;
    --accent-primary: linear-gradient(180deg,#ffce7e,#997c4b);
    --accent-secondary: #46361c;
    --accent-tertiary: #635e50;
    --accent-quaternary: #786f61;
    --gradient-primary: linear-gradient(180deg,#202020,#343434 80%);
    --gradient-secondary: linear-gradient(180deg,#3a3838,#202020);
    --gradient-quaternary: linear-gradient(270deg,rgba(0,0,0,.6),transparent 50%,rgba(0,0,0,.6));
    --white: #fff;
    --red: #e73737;
    --vh: 100vh;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #ced4da;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --status-success: #28a745;
    --status-danger: #dc3545;
    --status-warning: #ffc107;
    --status-info: #3e3e3e
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NeueHalvetica55Roman.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NeueHalvetica55Medium.woff2) format("woff2")
}

.cons-hero[data-v-8a096bc2] {
    height: 100vh;
    position: relative;
    width: 100%
}

.cons-hero__wrapper[data-v-8a096bc2] {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%
}

.cons-hero__title[data-v-8a096bc2] {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 6.1111111111vw;
    font-weight: 500;
    line-height: 1em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1
}

@media (max-width: 860px) {
    .cons-hero__title[data-v-8a096bc2] {
        font-size:calc(28.50704px + 4.13146vw)
    }
}

@media (max-width: 460px) {
    .cons-hero__title[data-v-8a096bc2] {
        font-size:44px
    }
}

@media (min-width: 860px) {
    .cons-hero__title[data-v-8a096bc2] {
        max-width:83.3333333333vw
    }
}

.cons-hero__bg[data-v-8a096bc2] {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NeueHalvetica55Roman.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NeueHalvetica55Medium.woff2) format("woff2")
}

.cons-service {
    background-color: var(--neutral-600);
    color: var(--basic-white);
    padding: 2.7777777778vw 0;
    position: relative
}

@media (max-width: 860px) {
    .cons-service {
        padding:24px 0
    }
}

.cons-service__top {
    align-items: flex-start;
    -moz-column-gap: 1.3888888889vw;
    column-gap: 1.3888888889vw;
    display: flex;
    justify-content: space-between;
    width: 100%
}

@media (max-width: 860px) {
    .cons-service__top {
        -moz-column-gap:16px;
        column-gap: 16px;
        flex-direction: column
    }
}

.cons-service__subtitle {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.3888888889vw;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase
}

@media (max-width: 860px) {
    .cons-service__subtitle {
        font-size:calc(11.88732px + .56338vw)
    }
}

@media (max-width: 460px) {
    .cons-service__subtitle {
        font-size:14px
    }
}

.cons-service__title {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 3.4722222222vw;
    font-weight: 500;
    line-height: 1em;
    max-width: 43.75vw;
    text-transform: uppercase
}

@media (max-width: 860px) {
    .cons-service__title {
        font-size:calc(31.07042px + 1.31455vw);
        margin-top: 40px;
        max-width: 100%
    }
}

@media (max-width: 460px) {
    .cons-service__title {
        font-size:36px
    }
}

.cons-service__block {
    color: var(--basic-white);
    position: relative
}

.cons-service__block-wrapper {
    height: 100svh;
    overflow: hidden;
    padding-top: 4.1666666667vw
}

@media (min-width: 860px) {
    .cons-service__block-wrapper {
        display:flex;
        justify-content: space-between
    }
}

@media (max-width: 860px) {
    .cons-service__block-wrapper {
        margin-top:40px;
        padding-top: 0
    }
}

.cons-service__assets {
    height: 30.5555555556vw;
    position: relative;
    width: 30.5555555556vw
}

@media (max-width: 860px) {
    .cons-service__assets {
        aspect-ratio:440/440;
        background-color: var(--neutral-100);
        height: auto;
        margin-top: 16px;
        width: 100%;
        z-index: 10
    }

    .cons-service__content-mask {
        margin-top: 40px;
        overflow: hidden
    }
}

.cons-service__content {
    position: relative
}

@media (min-width: 860px) {
    .cons-service__content-wrapper {
        -moz-column-gap:1.3888888889vw;
        column-gap: 1.3888888889vw;
        display: flex;
        justify-content: flex-end;
        width: 100%
    }
}

@media (max-width: 860px) {
    .cons-service__content-wrapper:not(:first-child) {
        margin-top:24px
    }
}

.cons-service__content-wrapper--active .cons-service__plus {
    opacity: 1
}

.cons-service__content-wrapper--active .cons-service__item-desc,.cons-service__content-wrapper--active .cons-service__item-title {
    color: var(--basic-white)
}

.cons-service__image-item {
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.1111111111vw;
    font-weight: 500;
    left: 0;
    line-height: 1em;
    position: absolute;
    text-transform: uppercase;
    top: 0
}

@media (max-width: 860px) {
    .cons-service__image-item {
        font-size:calc(13.29577px + .18779vw)
    }
}

@media (max-width: 460px) {
    .cons-service__image-item {
        font-size:14px
    }
}

@media (min-width: 860px) {
    .cons-service__image-item {
        height:100%;
        max-width: 41.6666666667vw;
        width: 100%
    }
}

@media (max-width: 860px) {
    .cons-service__image-item {
        height:auto;
        width: 100%
    }
}

.cons-service__img-wrapper {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

.cons-service__img {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
    will-change: transform
}

@media (min-width: 860px) {
    .cons-service__item {
        padding-bottom:1.6666666667vw;
        width: 43.75vw
    }
}

.cons-service__line {
    background-color: var(--neutral-300);
    display: block;
    height: 1px;
    width: 100%
}

.cons-service__item-wrapper {
    align-items: flex-start;
    display: flex;
    gap: .8333333333vw;
    margin-top: 1.6666666667vw
}

@media (max-width: 860px) {
    .cons-service__item-wrapper {
        gap:16px;
        margin-top: 20px
    }
}

.cons-service__plus {
    display: block;
    flex-shrink: 0;
    height: 1.1111111111vw;
    opacity: 0;
    transition: opacity .3s ease;
    width: 1.1111111111vw
}

@media (max-width: 860px) {
    .cons-service__plus {
        height:16px;
        width: 16px
    }
}

.cons-service__plus path {
    fill: var(--basic-white)
}

.cons-service__info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: .5555555556vw;
    justify-content: flex-start
}

@media (max-width: 860px) {
    .cons-service__info {
        gap:12px
    }
}

@media (max-width: 460px) {
    .cons-service__info {
        max-width:100%
    }
}

.cons-service__item-title {
    color: var(--neutral-300);
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.6666666667vw;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    transition: color .3s ease
}

@media (max-width: 860px) {
    .cons-service__item-title {
        font-size:calc(15.88732px + .56338vw)
    }
}

@media (max-width: 460px) {
    .cons-service__item-title {
        font-size:18px
    }
}

.cons-service__item-desc {
    color: var(--neutral-300);
    font-family: HelveticaNeueCyr,HelveticaNeue,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.1111111111vw;
    font-weight: 500;
    line-height: 1.25em!important;
    transition: color 2s cubic-bezier(.16,1,.3,1)
}

@media (max-width: 860px) {
    .cons-service__item-desc {
        font-size:16px
    }
}

:root {
    --basic-black: #202020;
    --basic-white: #fff;
    --neutral-100: #eaeaea;
    --neutral-200: #d0d0d0;
    --neutral-300: #818080;
    --neutral-400: #4c4949;
    --neutral-500: #343434;
    --neutral-600: #2e2e2e;
    --accent-primary: linear-gradient(180deg,#ffce7e,#997c4b);
    --accent-secondary: #46361c;
    --accent-tertiary: #635e50;
    --accent-quaternary: #786f61;
    --gradient-primary: linear-gradient(180deg,#202020,#343434 80%);
    --gradient-secondary: linear-gradient(180deg,#3a3838,#202020);
    --gradient-quaternary: linear-gradient(270deg,rgba(0,0,0,.6),transparent 50%,rgba(0,0,0,.6));
    --white: #fff;
    --red: #e73737;
    --vh: 100vh;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #ced4da;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --status-success: #28a745;
    --status-danger: #dc3545;
    --status-warning: #ffc107;
    --status-info: #3e3e3e
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NeueHalvetica55Roman.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NeueHalvetica55Medium.woff2) format("woff2")
}

.cons-youtube {
    background-color: var(--neutral-500);
    padding-bottom: 6.9444444444vw;
    padding-top: 6.9444444444vw
}

@media (max-width: 860px) {
    .cons-youtube {
        padding-bottom:60px;
        padding-top: 60px
    }
}
